<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="./edit">edit</a>

    <% for(let i = 0; i < info.length; i++){ %>

        <a href="details/<%= info[i]._id %>"><h2> <%= info[i].name %></h2></a>
        <p> <%= info[i].age %></p>
    <% }%>

</body>
</html>